<launch>
    <node pkg="stair_detection" type="plane_segmentation.py" name="plane_segmentation" output="screen"/>

    <!-- <node pkg="stair_detection" type="test.py" name="test" output="screen"/> -->
    
    <!-- <node pkg="stair_detection" type="stair_detector_node.py" name="stair_detector_node" output="screen"/> -->
    
    <node pkg="stair_detection" type="final_stair.py" name="final_stair" output="screen"/>

    <!-- <node pkg="stair_detection" type="stair_info_node.py" name="stair_info_node" output="screen"/> -->
</launch>

